.container{
    max-width: 960px;
    margin: 0 auto;
}

body{
  background-color: #F9F9F9;
}


.ant-modal .ant-modal-content{
    border-radius: 20px;
    padding: 0;
}

.ant-modal .ant-modal-content .ant-modal-footer{
    margin: 0;

}
.ant-modal .ant-modal-content .ant-modal-body{
    padding: 16px;
}

.ant-modal .ant-modal-content .ant-modal-header{
    background-color: #EFEFEF;
    margin: 0;
    border-radius: 20px 20px 0 0;
    padding: 15px 24px;
    font-size: 30px;
}

.ant-modal .ant-modal-content .ant-modal-header .ant-modal-title{
    font-size: 18px;
}

.ant-modal .ant-modal-content .ant-modal-close{
    background-color: white;
    width: 33px;
    height: 33px;
    border-radius: 13px;
}

.ant-input:focus {
    border-color: #06B2B6 !important;          /* yangi border rangi */
    outline: none;
    /* border-width: 2px; */
  }
  .ant-input:hover {
    border-color: #06B2B6 !important;          /* yangi border rangi */
    outline: none;
    /* border-width: 2px; */
  }
  
  /* agar Input prefix/suffix bilan bo'lsa  */
  .ant-input-affix-wrapper-focused {
    border-color: #06B2B6 !important;
    /* border-width: 2px; */
  }

  .ant-select-focused .ant-select-selector {
    border-color: #06B2B6 !important;          /* yangi rang */
    /* box-shadow: 0 0 0 2px rgba(255,77,79,0.15) !important; */
    outline: none;
  }
  
  /* optional: hover paytidagi rang ham */
  .ant-select:hover .ant-select-selector {
    border-color: #06B2B6 !important;
  }

  .ant-input {
    padding: 10px 16px !important;  /* vertikal 10px, gorizontal 14px */
    border-radius: 12px;
  }
  
  /* Prefix/suffix bo‘lsa */
  .ant-input-affix-wrapper .ant-input {
    padding: 10px 16px !important;
  }

  .ant-input-affix-wrapper {
    padding: 0 10px 0 0  !important;
  }

  .ant-select-selector {
    padding: 10px 16px !important; /* vertikal 10px, gorizontal 14px */
    height: auto !important;       /* kerak bo‘lsa: height auto qilinadi */
    display: flex;
    align-items: center;
  }

  .ant-select-single{
    height: 44px;
  }

  .ant-select-single .ant-select-selector{
    border-radius: 12px;
  }

  /* --- Swiper Pagination Custom Style --- */
.swiper-pagination {
    position: absolute !important;
    bottom: 0px !important;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    z-index: 999999 !important;
  }
  
  /* Har bir bulletning default holati */
  .swiper-pagination-bullet,
  .custom-bullet {
    width: 42px !important;
    height: 4px !important;
    background-color: #E0E0E0 !important;
    border-radius: 6px !important;
    transition: all 0.3s ease !important;
  }
  
  /* Aktiv bullet (hozirgi slayd) */
  .swiper-pagination-bullet-active,
  .custom-bullet.swiper-pagination-bullet-active {
    width: 40px !important;
    
    background-color: #06B2B6 !important;
    opacity: 1 !important;
  }
  
  /* Hover effekti (ixtiyoriy, chiroy uchun) */
  .custom-bullet:hover {
    background-color: #7fbabb !important;
  }
  
  
 
